.DocList {
    justify-content: center;
    padding-top: 20px;
    flex-grow: 1;
    width: 100%;
    background-color: #eee;
    color: dimgrey;
}

.DocList > div {
    width: 100%;
}

.DocList h1 {
    color: darkgray;
    text-align: center;
}
